@use "abstracts";

.hamburger-menu {
   width: 40px;
   height: 40px;
   position: fixed;
   top: 10%;
   right: 5%;
   z-index: 2;

   .menu {
      @extend %fullSpace;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      cursor: pointer;
      transition: transform .8s cubic-bezier(1, 0, 0, 1);

      &-line {
         width: 100%;
         height: 4px;
         background-color: abstracts.$color-primary;
         transform-origin: right;
         transition: all .8s;
      }
   }
}

.main-name {
   color: abstracts.$color-primary;
   font-family: abstracts.$font-bebas;
   font-size: 100px;
   position: relative;
   max-width: 500px;
   margin: 0;

   &:before {
      content: " ";
      display: block;
      height: 2px;
      width: 130px;
      position: absolute;
      top: 50%;
      left: 100%;
      background: abstracts.$color-secondary;
   }

   &:after {
      content: " ";
      display: block;
      height: 2px;
      width: 130px;
      position: absolute;
      top: 50%;
      right: 100%;
      background: abstracts.$color-secondary;
   }
}

.sub-name {
   margin-top: 5px;
   color: abstracts.$color-secondary;
   font-family: abstracts.$font-josefinSans;
   font-size: 30px;
   letter-spacing: 3px;
   @include abstracts.textStyle;
}

.main-heading {
   font-family: abstracts.$font-nova;
   font-size: 80px;
   font-weight: 300;
   color: abstracts.$color-primary;
   margin: 40px 0;
   text-align: center;
}

.sub-heading {
   font-family: abstracts.$font-josefinSans;
   font-size: 30px;
   font-weight: 300;
   color: abstracts.$color-secondary;
   margin-bottom: 40px;
   text-align: center;
}

.main-btn {
   width: 170px;
   height: 45px;
   color: abstracts.$color-primary;
   background-color: transparent;
   font-family: abstracts.$font-josefinSans;
   font-size: 14px;
   text-transform: uppercase;
   letter-spacing: 1px;
   border: 1px solid abstracts.$color-primary;
   outline: none;
   cursor: pointer;
   transition: all .4s;

   &:hover {
      background-color: abstracts.$color-primary;
      color: abstracts.$color-dark;
   }
}

.card {
   width: 33.3333%;
   height: 30vw;
   position: relative;
   overflow: hidden;

   &:hover .card-overlay {
      left: 0;
   }

   &-overlay {
      position: absolute;
      top: 0;
      left: -100%;
      background-color: rgba(abstracts.$color-primary, .4);
      color: abstracts.$color-white;
      z-index: 1;
      flex-direction: column;
      @include abstracts.flexLayout;
      @extend %fullSpace;
      transition: left .7s;

      &-heading {
         font-family: abstracts.$font-nova;
         font-size: 70px;
         font-weight: 300;
         margin-bottom: 40px;
         text-align: center;
      }

      &-btn {
         width: 150px;
         height: 40px;
         color: abstracts.$color-primary;
         background-color: abstracts.$color-white;
         font-family: abstracts.$font-josefinSans;
         font-size: 14px;
         font-weight: bold;
         text-transform: uppercase;
         letter-spacing: 1px;
         outline: none;
         border: 1px solid abstracts.$color-primary;
         border-radius: 30px;
         cursor: pointer;
      }
   }

   &-img {
      object-fit: cover;
      opacity: .5;
      @extend %fullSpace;
   }
}